<!DOCTYPE html>
<html lang="en">
<%- include('./partials/_head.ejs') %> 
<body>
  <%- include('./partials/_nav.ejs') %> 
  <header>
    <h1>Homepage</h1>
    <h2></h2>
  </header> 
  <main>
    <p>Chatting stuff goes here</p>
  </main>
</body>
</html>
